.header {
  position: fixed;
  width: fit-content;
  top: 2%;
  right: 2%;
  margin: 0;
  padding: 1em 1%;
  z-index: 101;
  background: var(--primary-color);
  mix-blend-mode: inherit;
  opacity: 0;
  animation: appear-from-top 4s 10s forwards;
  /* outline: red solid 1px; */
}

.header-visited {
  position: fixed;
  width: fit-content;
  top: 2%;
  right: 2%;
  margin: 0;
  padding: 1em 1%;
  z-index: 101;
  background: var(--primary-color);
  mix-blend-mode: inherit;
  opacity: 1;
}

.header-nav {
  display: inline-block;
  mix-blend-mode: inherit;
  color: var(--secondary-color);
  padding: 9px 16px;
  z-index: 100;
  mix-blend-mode: inherit;
}
.nav-isActive {
  color: tan;
  border-bottom: 1px solid tan;
}
.navigation a:hover {
  color: tan;
  cursor: pointer;
}

@keyframes appear-from-top {
  to {
    opacity: 1;
  }
}
