:root {
	--iconWidth: 100px;
}
.icon-container {
	position: relative;
	border: 1px solid white;
	opacity: 0.5;
	border-radius: 50%;
	width: var(--iconWidth);
	height: var(--iconWidth);
	transition: transform 1s ease;
}
.icon-container span {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.icon-container:hover {
	cursor: pointer;
	opacity: 0.5;
}

/* On Deselect Animation */
.icon-container[data-animation="0"] {
	animation-name: iconAnimation1;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes iconAnimation1 {
	0% {
		transform: scale(1.4);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0.5;
	}
}

/* On Select Animation */
.icon-container[data-animation="1"] {
	animation-name: iconAnimation2;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}
@keyframes iconAnimation2 {
	0% {
		transform: scale(1);
		opacity: 0.5;
	}
	100% {
		transform: scale(1.4);
		opacity: 1;
	}
}

/* On Start Animation */
.icon-container[data-animation="2"] {
	animation-name: iconAnimation3;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes iconAnimation3 {
	0% {
		transform: scale(1);
		opacity: 0.5;
		pointer-events: none;
	}
	100% {
		transform: scale(1.4);
		opacity: 1;
		pointer-events: auto;
	}
}
