.project-container {
	position: relative;
	/* outline: 1px solid red; */
	margin: 5em 0;
}
.project-container article {
	/* outline: 1px solid green; */
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 2.5rem;
	margin: 6rem;

	align-content: center;
}
.project-container article p {
	margin-left: auto;
	margin-right: auto;
	/* outline: 1px solid red; */
	max-width: 90ch;
}
.project-container h1 {
	font-size: 4.5rem;
	overflow-wrap: break-word;
}
.project-container header {
	text-align: center;
}

.project-icons {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 2em;
	width: 100%;
	height: fit-content;
	min-height: 5cm;
	/* border-bottom: 2ch solid white; */
}

.project-icons::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: white;
	left: 0;
	bottom: 0;
	animation-name: appearFromCenter;
	animation-duration: 3s;
}

@keyframes appearFromCenter {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}
