.project-container {
	position: relative;
	border: 1px solid red;
	margin: 5em 0;
}
.project-container:hover {
	opacity: 0.5;
}
.project-icons {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 2em;
	width: 100%;
	height: fit-content;
	min-height: 5cm;
	/* border-bottom: 2ch solid white; */
}
.project-icons::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: white;
	left: 0;
	bottom: 0;
	animation-name: appearFromCenter;
	animation-duration: 3s;
}

@keyframes appearFromCenter {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}
