.contact-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  /* background: linear-gradient(
    180deg,
    rgba(22, 27, 34, 1) 9%,
    rgba(243, 229, 245, 1) 9%
  );*/
}
.contact-container ul {
  list-style-type: none;
}
.contact-container ul li {
  position: relative;
  display: flex;
  /* outline: 1px solid red; */
  width: fit-content;
  margin: auto;
}
.contact-data-container {
  outline: 1px solid var(--secondary-color);
  background: var(--primary-color);
  padding: 2.5rem;
  border-radius: 10px;
  height: fit-content;
  margin-top: 20vh;
}

.platform-data {
  position: relative;
  display: flex;
  padding: 30px 3ch;
  line-height: 1.5;
  align-items: center;
  width: 300px;
  margin: auto;

  /* outline: 1px solid red; */
}
.platform-data:hover {
  cursor: pointer;
  background: black;
  opacity: 0.5;
  /* outline: 1px solid red; */
}
.platform-data {
  display: flex;
  align-items: center;
}
.contact-container header {
  padding: 15px 3ch;
  text-align: center;
}
.icon-contact {
  margin-right: 1ch;
}
.platform-clipboard-on {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5em 0.5em;
  position: absolute;
  display: block;
  right: -170px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.75;
}

.platform-clipboard-off {
  opacity: 0.75;
  padding: 0.5em 0.5em;
  position: absolute;
  display: none;
  right: -150px;
  top: 50%;
  transform: translateY(-50%);
}
.platform-data:hover + .platform-clipboard-off {
  display: block;
}
